USE [master]
GO
/****** Object:  Database [PRJ301_SE1650]    Script Date: 3/11/2023 2:24:26 PM ******/
CREATE DATABASE [PRJ301_SE1650]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ301_SE1650', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRJ301_SE1650.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ301_SE1650_log', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRJ301_SE1650_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ301_SE1650].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ301_SE1650]
GO
/****** Object:  Table [dbo].[class_HE163469]    Script Date: 3/11/2023 2:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[class_HE163469](
	[classID] [nchar](100) NOT NULL,
	[DepartID] [nchar](100) NULL,
	[title] [nvarchar](1000) NULL,
	[images] [nchar](1000) NULL,
	[mentor] [nchar](100) NULL,
	[describe] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[classID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[condition_HE163469]    Script Date: 3/11/2023 2:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[condition_HE163469](
	[classid] [nchar](100) NOT NULL,
	[conditionid] [nchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[classid] ASC,
	[conditionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department_HE163469]    Script Date: 3/11/2023 2:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department_HE163469](
	[ID] [nchar](100) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[title] [nchar](1000) NULL,
	[images] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[process_HE163469]    Script Date: 3/11/2023 2:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[process_HE163469](
	[classID] [nchar](100) NOT NULL,
	[studentID] [nchar](100) NOT NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[classID] ASC,
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_HE163469]    Script Date: 3/11/2023 2:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_HE163469](
	[ID] [nchar](100) NOT NULL,
	[IDc] [char](100) NULL,
	[IDn] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[gender] [bit] NULL,
	[DepartID] [nchar](100) NULL,
	[phoneNumber] [nchar](10) NULL,
	[UserName] [nchar](100) NULL,
	[password] [nchar](1000) NULL,
	[email] [nchar](100) NULL,
	[active] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[condition_HE163469] ([classid], [conditionid]) VALUES (N'CC1045                                                                                              ', N'AE1645                                                                                              ')
INSERT [dbo].[condition_HE163469] ([classid], [conditionid]) VALUES (N'CC1045                                                                                              ', N'SA1645                                                                                              ')
INSERT [dbo].[condition_HE163469] ([classid], [conditionid]) VALUES (N'SE1111                                                                                              ', N'SE1645                                                                                              ')
GO
INSERT [dbo].[process_HE163469] ([classID], [studentID], [status]) VALUES (N'AA1602                                                                                              ', N'HF1                                                                                                 ', 1)
INSERT [dbo].[process_HE163469] ([classID], [studentID], [status]) VALUES (N'AA1602                                                                                              ', N'HF3                                                                                                 ', 1)
INSERT [dbo].[process_HE163469] ([classID], [studentID], [status]) VALUES (N'AA1612                                                                                              ', N'HF1                                                                                                 ', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student___4849DA0154276DB1]    Script Date: 3/11/2023 2:24:26 PM ******/
ALTER TABLE [dbo].[Student_HE163469] ADD UNIQUE NONCLUSTERED 
(
	[phoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student___AB6E61647511B5C1]    Script Date: 3/11/2023 2:24:26 PM ******/
ALTER TABLE [dbo].[Student_HE163469] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student___C9F2845652D5E8C5]    Script Date: 3/11/2023 2:24:26 PM ******/
ALTER TABLE [dbo].[Student_HE163469] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[class_HE163469]  WITH CHECK ADD FOREIGN KEY([DepartID])
REFERENCES [dbo].[Department_HE163469] ([ID])
GO
ALTER TABLE [dbo].[class_HE163469]  WITH CHECK ADD FOREIGN KEY([mentor])
REFERENCES [dbo].[Student_HE163469] ([ID])
GO
ALTER TABLE [dbo].[condition_HE163469]  WITH CHECK ADD FOREIGN KEY([classid])
REFERENCES [dbo].[class_HE163469] ([classID])
GO
ALTER TABLE [dbo].[condition_HE163469]  WITH CHECK ADD FOREIGN KEY([conditionid])
REFERENCES [dbo].[class_HE163469] ([classID])
GO
ALTER TABLE [dbo].[process_HE163469]  WITH CHECK ADD FOREIGN KEY([classID])
REFERENCES [dbo].[class_HE163469] ([classID])
GO
ALTER TABLE [dbo].[process_HE163469]  WITH CHECK ADD FOREIGN KEY([studentID])
REFERENCES [dbo].[Student_HE163469] ([ID])
GO
ALTER TABLE [dbo].[Student_HE163469]  WITH CHECK ADD FOREIGN KEY([DepartID])
REFERENCES [dbo].[Department_HE163469] ([ID])
GO
USE [master]
GO
